/* Inizio Utility */
*{Padding: 0;
    Margin: 0;
    Box-sizing: border-box}
         
  .clearfix::after{
   content: "";
   display: table;
   clear: both;}
     
  html {
   scroll-behavior: smooth;}
   /* Fine Utility */

/* SECTION Header */
header{
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 50px;
    z-index: 1;
}

.h-1{
    display: flex;
    height: 50px;
    justify-content: end;
    align-items: center;
}

.h-1-1{
    width: fit-content;
}

.h-1-1-logo{
    width: 75px;
}
/* !SECTION  */

/* SECTION Nav */
nav{
    position: fixed;
    width: 100vw;
    height: fit-content;
    top: 50px;
    background-color: white;
    z-index: 1;
}

.nav-1{
    display: flex;
    justify-content: space-between;
    margin-left: 3vw;
    margin-right: 3vw;
}
/* !SECTION Nav fine */

/* SECTION 1 */

section{
    position: relative;
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    height: 1300px;
    background-repeat: no-repeat;
}
.s1{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 600px;
    left: 20px;
}

.s1-1{

}

.s1-img{
    width: 300px;
}

.s1-2-1, .s1-3-1, .s1-4-1{
    color: white;
}

.s1-4-1{
    background-color: #CD3D0F;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
}