/* Inizio Utility */
*{Padding: 0;
    Margin: 0;
    Box-sizing: border-box}
         
  .clearfix::after{
   content: "";
   display: table;
   clear: both;}
     
  html {
   scroll-behavior: smooth;}
   /* Fine Utility */

/* SECTION Header */
header{
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 50px;
    z-index: 1;
}

.h-1{
    display: flex;
    height: 50px;
    justify-content: end;
    align-items: center;
}

.h-1-1{
    width: fit-content;
}

.h-1-1-logo{
    width: 75px;
}
/* !SECTION  */

/* SECTION Nav */
nav{
    position: fixed;
    width: 100vw;
    height: fit-content;
    top: 50px;
    background-color: white;
    z-index: 1;
}

.nav-1{
    display: flex;
    justify-content: space-between;
    margin-left: 3vw;
    margin-right: 3vw;
}
/* !SECTION Nav fine */

/* SECTION 1 */
/* FIXME Posizionare più il alto il .contenitore-1 */
.contenitore-1{
    position: relative;
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    height: 1000px;
    background-repeat: no-repeat;
    /* margin-top: -50px; */
}
.s1{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 500px;
    left: 5vw;
}

.s1-1{

}

.s1-img{
    width: 300px;
}

.s1-2-1, .s1-3-1, .s1-4-1, .s3-6-1{
    color: white;
    text-decoration: none;
}

.s1-3{
padding-right: 5vw;
}

.s1-4{
    background-color: #CD3D0F;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    width: fit-content;
}

/* FIXME da mettere a posto il doppio bordo */
.s1-4:hover{
    border: 5px double #CD3D0F;
    color: white;
}

/* !SECTION 1 end */

/* SECTION 2 */
.contenitore-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding:10px;
    margin-top: 5px;
}
/* FIXME da mettere a posto il bordo delle immagini */
.contenitore-2 div>img{
    width: 250px;
    clip-path: border-box(100%);
}

/* FIXME da aggiungere l'Hover */
.contenitore-2 div{
    width: calc((100% / 2) - 10px);
    padding: 10px;
    text-align: center;
}
/* !SECTION 2 end */

/* SECTION 3 */
.sezione-3{
    padding: 15px;
}

.s3-margine{
    text-align: center;
}

.s3-1{
    color: #0072CE;
    font-weight: 500;
}

.s3-2,
.s3-4{
    font-size: 3em;
    font-weight: 500;
}

.s3-3,
.s3-5{
    font-size: 1.5em;
    opacity: 0.7;
    font-weight: 500;
}

/* FIXME Manca Hover */
.s3-6{
    background-color: #2D64E6;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    width: fit-content;
}