/* Inizio Utility */
*{Padding: 0;
    Margin: 0;
    Box-sizing: border-box}

  .clearfix::after{
   content: "";
   display: table;
   clear: both;}

  html {
   scroll-behavior: smooth;}
   /* Fine Utility */

/* SECTION Header */
header{
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 50px;
    z-index: 1;
}

.h-1{
    display: flex;
    height: 50px;
    justify-content: end;
    align-items: center;
    padding: 0px 32px 0px 20px;
}

.h1-a{
    padding-right: 32px;
}

.h-1-1{
    width: fit-content;
    padding-right: 20px;
}

.h-1-1-logo{
    width: 75px;
}

.button-flex{
padding-top: 0.5em;;}
/* !SECTION  */

/* SECTION 1 */
#sezione-1{
    display: block;
    position: relative;
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
    top: 100px;
    background-repeat: no-repeat;
}

.s1{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45%;
    left: 5vw;
}

.s1-img{
    width: 300px;
}

.s1-2-1, .s1-3-1, .s1-4-1, .s4-1-3-1{
    color: white;
    text-decoration: none;
}

.s1-3{
padding-right: 5vw;
}

.s1-4{
    background-color: #CD3D0F;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    width: fit-content;
}

/* FIXME da mettere a posto il doppio bordo */
.s1-4:hover{
    border: 5px double #CD3D0F;
    color: white;}

/* !SECTION 1 end */

/* SECTION 2 */
.contenitore-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 15px;
    margin-top: 100px;
}

.contenitore-2 div>img{
    display: block;
    margin:0px auto;
    width: 100%;
    border-radius: 20px;}

.contenitore-2 div{
    width: calc((100% / 2) - 10px);
    padding: 10px;}

/* FIXME Finezza, dimensionare meglio il bordo in :hover */

.s2-1:hover {
    border: 2px solid #0072CE;
    border-radius: 20px;}

/* !SECTION 2 end */

/* SECTION 3 */
.sezione-3{
    padding: 15px;}

.s3-margine{
    text-align: center;}

.s3-1{
    color: #0072CE;
    font-weight: 500;}

.s3-2,
.s4-1-1{
    font-size: 3em;
    font-weight: 500;}

.s3-3,
.s4-1-2{
    font-size: 1.5em;
    opacity: 0.7;
    font-weight: 500;}

/* FIXME Manca Hover */

/* !SECTION 3 */

/* SECTION 4 */
.sezione-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;}

.s4-1-3{
    background-color: #2D64E6;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    width: fit-content;}

.s4-3-1{
    max-width: 95vw;
    height: auto;}
/* !SECTION 4 */

/* SECTION 5 */
.sezione-5{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 15px;}

.sezione-5 div>img{
    width: 100%;
    display:block;
    margin: 0px auto;}

.s5-1-1, .s5-2-1, .s5-3-1, .s5-4-1, .s5-5-1{
    opacity: 0.5;}

.sezione-5 div{
    padding: 5px;
    width: calc(100% / 3);}


.sezione-5>div>div{
    display: none; }

/* FIXME Provare a fare HOVER con animation */


            .s5-1:hover{
                border-bottom: 2px solid #2D64E6;
                /* border-style: inset; */
            }

                .s5-1-1:hover{
                    opacity: 1;}
                
            .s5-2:hover{
                border-bottom: 2px solid #2D64E6;}
            
                .s5-2-1:hover{
                    opacity: 1;}
                

            .s5-3:hover{
                 border-bottom: 2px solid #2D64E6;}
            
                .s5-3-1:hover{
                        opacity: 1;}
                

            .s5-4:hover{
                border-bottom: 2px solid #2D64E6;}
            
                .s5-4-1:hover{
                    opacity: 1;}
                

            .s5-5:hover{
                    border-bottom: 2px solid #2D64E6;}
            
                .s5-5-1:hover{
                        opacity: 1;}                
/* !SECTION 5 end */

/* SECTION 6 */
.sezione-6{
    display: block;
    position: relative;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position:center;
    background-size: cover;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;}

    .s6-1{
        position: absolute;
        left: 5%;
        top: 85px;
        width: 80%;}

        .s6-1-1>img{
            width: 300px;}

    .s6-1-2, .s6-1-3, .s6-1-4>a{
        color: white;
        text-decoration: none;}

    .s6-1-2{
        font-size: 2.5em;
        font-weight: 500;}

    .s6-1-3{
        font-size: 1em;
        font-weight: 500;}

    .s6-1-4{
         background-color: #CD3D0F;
        padding: 10px;
        width: fit-content;
        border-radius: 50px;}
/* !SECTION 6 */

/* SECTION 7 */
/* FIXME Bordare le immagini */
.s7{
    background-color: #1F1F1F;}

.s7-1{
    padding: 15px;}

    .s7-1 p{
        color: white;}

    .s7-1-1{
        font-size: 3em;
        font-weight: 500;}    

    .s7-1-2{
        font-size: 1.7em;}    

.s7-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    height: auto;}


.s7-2-a{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: calc((100% / 2) - 10px);
    height: 270px;
    padding: 10px;}

.s7-2-1 img{
    display: block;
    margin: 0px auto;
    width: 100%;
    border-radius: 20px;
}

.s7-2>div>div{
    display: block;
    color: white;
    font-size: 1em;
    width: 200px;
    text-align: left;}

/* FIXME correggere il brutto effetto sull'over */
.s7-2>div:hover{
    border: 1px solid white;
    border-radius: 10px;
    border-style: inset;}

/* !SECTION 7 end*/

<!-- SECTION 8 -->
.sezione-8{
    padding: 15px;}


    .s8-1, .s8-2, .s8-3{
        text-align: center;}

    .s8-1{
        font-size: 3em;
        font-weight: 500;
        margin-bottom: 20px;}

        .s8-1 div{
            padding-top: 15px;
            padding-right: 16px;
            font-size: 0.6em;
            vertical-align: text-top ;}

    .s8-2, .s8-3{
        font-size: 1.5em;
        opacity: 0.8;}

.s8-a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;}

.s8-a-1{
    padding-bottom: 40px;}

    .s8-a-1-2>p:first-child{
        font-size: 3em;
        font-weight: 500;}

    .s8-a-1-2>div{
        font-size: 1.8em;
        opacity: 0.8;}

    .s8-a-1-1>img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;}

    .s8-a-1-3{
        background-color: #2D64E6;
        padding: 5px 10px 5px 10px;
        border-radius: 50px;
        width: fit-content;}

        .s8-a-1-3>a{
            color: white;
            text-decoration: none;}
/* !SECTION 8 end */

/* SECTION 9 */
.sezione-9{
    padding: 15px;
    background-color: #BEBCBB;
    padding-top: 50px;
    padding-bottom: 50px;}

    .s9-2{
        display: none;}

    .s9-1 div>img{
        width: 50vw;}

    .s9-1 div:nth-child(2){
        padding-top: 32px;
        font-size: 1em;
        font-weight: 500;}

    .s9-1 div:nth-child(3){
        margin-top: 32px;
        background-color: #D9DADC;
        width: fit-content;
        padding: 10px 20px 10px 20px;
        border-radius: 50px;}

    .s9-1 div:nth-child(3)>a{
        text-decoration: none;
        font-weight: 500;}
/* !SECTION 9 end */

/* SECTION 10 */
.sezione-10{
    padding-top: 100px;}

    .s10-1 div:first-child{
        font-size: 3em;
        font-weight: 500;
        text-align: center;
        padding: 0px 20px 20px 32px;}

    .s10-1 div:nth-child(2){
        font-size: 1.6em;
        opacity: 0.8;
        text-align: center;
        padding: 0px 10px 20px 10px;}

    .s10-2-1 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;}

    .s10-2-1{
        width: 100vw;
        height: auto;
        padding-bottom: 10px;}
/* !SECTION 10 end */

/* SECTION 11 */
.sezione-11{
    padding: 48px 15px 48px 15px;
    background-color: #161C3B;}

.s11-1{
    padding: 0px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;}

.s11-2{
    display: none;}

.sezione-11 div>div>img{
    width: 300px;}

.sezione-11 div>div:nth-child(2){
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 1.2em;
    font-weight: 500;}

.sezione-11 div>div:nth-child(3){
    background-color: white;
    padding: 10px 15px 10px 15px;
    width: fit-content;
    border-radius: 50px;}

.sezione-11 div>div>a{
    text-decoration: none;
    color: black;
    font-weight: 600;}
/* !SECTION 11 end */

/* SECTION 12 */
.sezione-12{
    padding: 48px 15px 48px 15px;}

    .s12-titolo{
        font-size: 3em;
        font-weight: 500;
        text-align: center;
        padding-bottom: 2em;}

    .s12-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center}

/* FIXME Aggiungere un po di margin altrimenti perde responsiv */
    .s12-1-1 img{
        display: block;
        margin: 0px auto;
        width: 76%;}

    .s12-1-1{
        display: block;
        width: calc((100% / 2) - 10px);
        height: auto;
        padding: 10px;}
/* !SECTION 12 end */

/* SECTION 13 */
.sezione-13{
    padding: 15px;
    background-color: #00439C;}

    .s13-1{
        padding-top: 64px;}

    .s13-1-1 img{
        width: 125px;}

    .s13-1-2 img{
        width: 25px;}

    .s13-1-2{
        margin-top: 48px;}

    .s13-1-3{
        color: white;
        margin-left: 16px;}

    .s13-2-1 a{
        text-decoration: none;
        color: white;}

    .s13-2-1 li{
        margin: 0.5em;
        list-style-type: none;}

    .s13-3-1{
        margin-top: 64px;
        width: 200px;
        margin-bottom: 16px;}

    .s13-4-1{
        color: white;}
    .s13-4-1 a{
        color: white; }

.firma{
    display: flex;
    justify-content: center;
    align-items: center;
}

.firma div{
    color: white;
}
.firma div:nth-child(2){
    color: #CD3D0F;
    margin: 5px;
    font-size: 3em;
}

/* !SECTION 13 end */

/* SECTION @media 576px  */
@media only screen and (min-width: 576px){
    
    .contenitore-2 div{
        width: calc((100% / 3) - 10px);}

    .s7-2-a{
        width: calc((100% / 3) - 10px);}
    
    .s10-1 div:first-child{
        font-size: 2.7em;}

    .s10-1 div:nth-child(2){
        font-size: 1.5em;}

    .s12-1-1 img {
        width: 100%;}

    .s12-1-1 {
        width: calc(100% / 4);} }
/* !SECTION @media 576px end */

/* SECTION @media 768px  */
@media only screen and (min-width: 768px){

    .s4-1{
        display: flex;}

    .s4-3-1 {
        max-width: 50vw;
        height: auto;}

    .sezione-5 div {
        padding: 5px;
        width: calc(100% / 5);}

    .sezione-5>div>div {
        width: auto;
        display: block;
        text-align: center;
        font-size: 1.2em;}

    .s6-1{
        width: 60%;}

/* FIXME controllare la posizione del testo nella sezione bassa s8 */

    .s8-a-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 40px;
        width: calc(100% / 3);}

    .s8-a-1-2>p:first-child {
        font-size: 2em;
        font-weight: 500;}

    .s8-a-1-2>div {
        font-size: 1.3em;
        opacity: 0.8;}

    .sezione-9{
        display: flex;
        justify-content: center;}

    .s9-2{
        display: block;}

    .s9-2 img{
        width: 100%;}

    .sezione-9 {
        padding: 0px;
        background-color: #BEBCBB;
        padding-top: 0px;
        padding-bottom: 0px;}

    .s9-1{
        padding: 0px 25px 0px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;}

    .s9-1 div>img {
        width: 32vw;}

    .s10-2{
        display: flex;
        flex-wrap: wrap;
        padding: 32px;}

    .s10-2-1{
        width: calc((100% / 3) - 10px);}

    .s10-2 div:nth-child(2){
        margin-left: 10px;
        margin-right: 10px;}

    .sezione-11{
        display: flex;
        justify-content: space-between;}

    .s11-2{
        display: block;}

        .s11-2>img{
            display: block;
            width: 100%;
            margin: 0px auto;
            height: auto;}

    .s12-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 25%;
        padding-right: 25%;}
    
        .s12-1-1 img{
            display: block;
            margin: 0px auto;
            width: 100%;}
    
    .s13-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding-right: 100px;
        padding-top: 32px;}

        .s13-2 div:nth-child(2){
            padding-left: 100px;
            padding-right: 100px;} }
/* !SECTION @media 768px end */

/* SECTION @media 1200px  */
@media only screen and (min-width: 1200px){
    .button-flex:{
        padding-top: 0px;}

    .s1{
        width: 40%;
    }

    .contenitore-2 div {
        width: calc((100% / 6) - 10px);}
    
    .s6-1{
        width: 45%;}

    .s7-2-a {
        width: calc((100% / 6) - 10px);}

    .s8-a {
        padding: 15px 32px 15px 32px;}

    .s13-1-a{
        display: flex;
        justify-content: space-between;}

    .s13-4-1{
        width: 40%;}
 
    .s12-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 25%;
        padding-right: 25%;}

    .s12-1-1 img{
        display: block;
        margin: 0px auto;
        width: 100%;} }
/* !SECTION @media 1200px end */


























}